<div class="border-b border-grey-lighter py-16 lg:py-20">
    <div>
        <img src="{{ avatar }}" class="h-16 w-16 rounded-full" alt="author" />
    </div>
    <h1
        class="pt-3 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
    >
        {{ greeting | widont }}
    </h1>
    <p class="pt-3 font-body text-xl font-light text-primary dark:text-white">
        {{ excerpt | widont }}
    </p>
    <a
        href="/public"
        class="mt-12 block bg-secondary px-10 py-4 text-center font-body text-xl font-semibold text-white transition-colors hover:bg-green sm:inline-block sm:text-left sm:text-2xl"
    >
        Say Hello!
    </a>
</div>
<div class="border-b border-grey-lighter py-16 lg:py-20">
    <div class="flex items-center pb-6">
        <img src="/assets/img/icon-story.png" alt="icon story" />
        <h3
            class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
        >
            My Story
        </h3>
    </div>
    <div class="font-body font-light text-primary dark:text-white">
        {{ my_history | widont }}
    </div>
</div>
<div class="py-16 lg:py-20">
    <div class="flex items-center pb-6">
        <img src="/assets/img/icon-story.png" alt="icon story" />
        <h3
            class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
        >
            Latest Blog Posts
        </h3>
        <a
            href="/blog"
            class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary"
        >
            All posts
            <img
                src="/assets/img/long-arrow-right.png"
                class="ml-3"
                alt="arrow right"
            />
        </a>
    </div>
    <div class="pt-8">
        {{ collection:blog limit="2" sort="date:desc" }}
            <div class="border-b border-grey-lighter pb-8">
                <span
                    class="mb-4 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green"
                >{{ category }}</span
                >
                <a
                    href="{{ url }}"
                    class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
                >{{ title }}</a
                >
                <div class="flex items-center pt-4">
                    <p class="pr-2 font-body font-light text-primary dark:text-white">
                        {{ date format="d-m-Y" }}
                    </p>
                    <span class="font-body text-grey dark:text-white">//</span>
                    <p class="pl-2 font-body font-light text-primary dark:text-white">
                        {{ author:name }}
                    </p>
                </div>
            </div>
        {{ /collection:blog }}
    </div>
</div>
<div class="pb-16 lg:pb-20">
    <div class="flex items-center pb-6">
        <img src="/assets/img/icon-project.png" alt="icon story" />
        <h3
            class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white"
        >
            My Projects
        </h3>
    </div>
    <div>
        <a
            href="/public "
            class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
        >
            <span class="w-9/10 pr-8">
                <h4
                    class="font-body text-lg font-semibold text-primary dark:text-white"
                >
                    TailwindCSS
                </h4>
                <p class="font-body font-light text-primary dark:text-white">
                    Rapidly build modern websites without ever leaving your HTML.
                </p>
            </span>
            <span class="w-1/10">
            <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
            </span>
        </a>
        <a
            href="/public "
            class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
        >
            <span class="w-9/10 pr-8">
                <h4
                    class="font-body text-lg font-semibold text-primary dark:text-white"
                >
                    Maizzle
                </h4>
                <p class="font-body font-light text-primary dark:text-white">
                    Framework for Rapid Email Prototyping
                </p>
            </span>
            <span class="w-1/10">
            <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
            </span>
        </a>
        <a
            href="/public "
            class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
        >
            <span class="w-9/10 pr-8">
                <h4
                    class="font-body text-lg font-semibold text-primary dark:text-white"
                >
                    Alpine.js
                </h4>
                <p class="font-body font-light text-primary dark:text-white">
                    Think of it like Tailwind for JavaScript.
                </p>
            </span>
            <span class="w-1/10">
            <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
            </span>
        </a>
        <a
            href="/public "
            class="mb-6 flex items-center justify-between border border-grey-lighter px-4 py-4 sm:px-6"
        >
            <span class="w-9/10 pr-8">
                <h4
                    class="font-body text-lg font-semibold text-primary dark:text-white"
                >
                    PostCSS
                </h4>
                <p class="font-body font-light text-primary dark:text-white">
                    A tool for transforming CSS with JavaScript
                </p>
            </span>
            <span class="w-1/10">
            <img src="/assets/img/chevron-right.png" class="mx-auto" alt="chevron right" />
            </span>
        </a>
    </div>
</div>
