<div class="py-16 lg:py-20">
    <div>
        <img src="/assets/img/icon-blog.png" alt="icon envelope" />
    </div>
    <h1
        class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
    >
        Blog
    </h1>
    <div class="pt-3 sm:w-3/4">
        <p class="font-body text-xl font-light text-primary dark:text-white">
            Articles, tutorials, snippets, rants, and everything else. Subscribe for
            updates as they happen.
        </p>
    </div>
    <form class="flex flex-col py-12 sm:flex-row">
        <input
            type="email"
            id="subscribe"
            placeholder="Drop that email here…"
            class="w-full border border-primary bg-grey-lightest px-5 py-4 font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:border-secondary sm:w-1/2"
        />
        <button
            type="submit"
            class="mt-5 bg-secondary px-10 py-4 font-body text-xl font-semibold text-white hover:bg-green sm:mt-0 md:text-2xl"
        >
            Subscribe
        </button>
    </form>
    {{ collection:blog paginate="1" as="posts" sort="date:desc" }}
        <div class="pt-8 lg:pt-12">
                {{ posts }}
                    <div class="border-b border-grey-lighter pb-8">
                    <span
                        class="mb-4 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green"
                    >{{ category }}</span
                    >
                    <a
                        href="{{ url }}"
                        class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"
                    >{{ title }}</a
                    >
                    <div
                        class="prose prose max-w-none border-b border-grey-lighter py-4 dark:prose-dark"
                    >
                        {{ content | excerpt }}
                    </div>
                    <div class="flex space-x-1 mt-2">
                        {{ tags }}
                            <span class="text-white dark:bg-secondary text-xs bg-primary rounded-lg p-1">{{ title }}</span>
                        {{ /tags }}
                    </div>
                    <div class="flex items-center pt-4">
                        <p class="pr-2 font-body font-light text-primary dark:text-white">
                            {{ date format='d-m-Y' }}
                        </p>
                        <span class="font-body text-grey dark:text-white">//</span>
                        <p class="pl-2 font-body font-light text-primary dark:text-white">
                            {{ author:name }}
                        </p>
                    </div>
                </div>
                {{ /posts }}
        </div>
        {{ if paginate:links | count > 0 }}
            {{ paginate }}
                <div class="flex pt-8 lg:pt-16 space-x-2">
            <a
                href="{{ prev_page }}"
                class="group ml-3 flex cursor-pointer items-center border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary"
            ><i
                class="bx bx-left-arrow-alt ml-1 text-primary transition-colors group-hover:text-secondary dark:text-white"
            ></i>
                Previous
            </a>
            {{ links:all }}
            <a
                href="{{ url }}"
                class="cursor-pointer border-2 px-3 py-1 font-body font-medium {{ if current_page === page }}border-secondary text-secondary{{ /if }}"
            >{{ page }}</a
            >
            {{ /links:all }}
            <a
                href="{{ next_page }}"
                class="group ml-3 flex cursor-pointer items-center border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary"
            >Next
                <i
                    class="bx bx-right-arrow-alt ml-1 text-primary transition-colors group-hover:text-secondary dark:text-white"
                ></i
                ></a>
        </div>
            {{ /paginate }}
        {{ /if }}
    {{ /collection:blog }}
</div>
